<html>
    <head>
        <!-- These meta tags come first. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Demo Research App{% endblock %}</title>

        <link rel="icon" href="/static/favicon.ico">

        <!-- Include the CSS -->
        {% block css %}
            <script src="/static/build/assets.js"></script>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Demo Research App</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                </div>
                <!--/.navbar-collapse -->
            </div>
        </nav>

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                {% block jumbotron %}{% endblock %}
            </div>
        </div>

        <div class="container">
            {% block body %}Hello world!{% endblock %}

            <hr>
            <footer>
                <p>Demo Research App, 2016</p>
            </footer>
        </div>

        <!-- Include the JS -->
        {% block javascript %}
        {% endblock %}
    </body>
</html>
