{% extends "base.jinja2" %}

{% block jumbotron %}
<h2>We're connected to your medical records from Dr. Garrick!</h2>
{% endblock %}

{% block body %}
<div>
    <Pre>{{ patient | pprint }}</pre>
    <h2>Quick stats</h2>
    <ul>
        <li>10 medications</li>
        <li>3 allergies</li>
        <li>6 immunizations</li>
        <li>47 lab tests</li>
    </ul>
    <br>
    <a class="btn btn-primary btn-lg" href="#" role="button">View full details</a>
</div>
{% endblock %}
