{% extends "base.jinja2" %}

{% block jumbotron %}
<h2>We're connected to your medical records from Dr. Garrick!</h2>
{% endblock %}

{% block body %}
<div>
    <h2>Quick stats</h2>
    <ul>
        {% for group in resources|groupby('fhir_resource_type') %}
        <li>{{ group.list | length }} {{ group.grouper }}s</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
