{% extends "base.jinja2" %}

{% block jumbotron %}
<h1>Found Dr. Garrick</h1>
{% endblock %}

{% block body %}
<div>
    <form action="http://52.39.26.206:9000/authorize/" id="authorize-form">
        <input type="hidden" name="client_id" value="{{ oauth_config.client_id }}" />
        <input type="hidden" name="response_type" value="code" />
        <input type="hidden" name="scope" value="patient/*.read offline_access" />
        <input type="hidden" name="redirect_uri" value="http://52.39.26.206:6543/authorized" />
        <input type="hidden" name="state" value="123" />
        <input type="hidden" name="aud" value="http://52.39.26.206:9000/api/fhir" />

        <button type="submit" class="btn btn-primary btn-lg">Share my electronic health records &raquo;</button>
    </form>

    <h2>What does this mean?</h2>
    <p>[consent language here]</p>
    <br>
    <a href="/connected" style="font-size: .5em;">__next__</a>
</div>
{% endblock %}
