{% extends "base.jinja2" %}

{% block jumbotron %}
<h1>Josh's Precision Medicine</h1>
<p></p>
<a class="btn btn-primary btn-lg" href="#" role="button">My studies »</a>
{% endblock %}

{% block body %}
<!-- Example row of columns -->
<div class="row">
    <div class="col-md-4">
        <h2>How did you sleep?</h2>
        <p><a class="btn btn-default" href="#" role="button">Badly</a><a class="btn btn-default" href="#" role="button">OK</a><a class="btn btn-default" href="#" role="button">Well</a></p>
    </div>
    <div class="col-md-4">
        <h2>Schedule an exam</h2>
        <p><a class="btn btn-default" href="#" role="button">View available times »</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sync for Science!</h2>
        <p>Share your electronic medical records with the Precision Medicine Initiative, including your medications, lab results, immunizations, vital signs, and other key aspects of your health history, right from your doctor's online portal.</p>
        <p><a class="btn btn-default" href="/share-my-data" role="button">Share my data &nbsp;»</a></p>
    </div>
    <div class="col-md-4">
        <p></p>
    </div>
</div>
{% endblock %}
