[app:ResearchApp]
use = egg:ResearchApp
reload_templates = true
debug_authorization = false
debug_notfound = false
debug_routematch = false
debug_templates = true
default_locale_name = en
pyramid.includes = pyramid_debugtoolbar
                    pyramid_tm
                    pyramid_jinja2
                    pyramid_beaker

jinja2.directories = researchapp:templates

#SQlalchemy configuration (The prefix `sqlalchemy.` can be changed IF you change it in __init__.py's engine_from_config() call too
sqlalchemy.url=sqlite:///db.sqlite3

session.type = file
session.data_dir = %(here)s/data/sessions/data
session.lock_dir = %(here)s/data/sessions/lock
session.key = mykey
session.secret = d6;PZe)d7F[c,x8Fa27(
session.cookie_on_exception = true

es_url = # An ElasticSearch endpoint including index and type

[pipeline:main]
pipeline =
    ResearchApp

[server:main]
use = egg:pyramid#wsgiref
host = 0.0.0.0
port = 6543

# Begin logging configuration

[loggers]
keys = root, researchapp

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_researchapp]
level = DEBUG
handlers =
qualname = researchapp

[logger_sqlalchemy.engine.base.Engine]
level = INFO
handlers =
qualname = sqlalchemy.engine.base.Engine

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s

# End logging configuration
