{% extends "base.jinja2" %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>Found {{ provider.name }}</h1>
        <hr>

        <form action="{{ url_for('.authorize') }}" method="post">
            <input type="hidden" name="provider" value="{{ provider.id }}">

            <button type="submit"
                class="btn btn-primary btn-lg"
                >Share my electronic health record (EHR) &raquo;</button>
        </form>

        <h2>What does this mean?</h2>
        <p>
            Most healthcare providers keep their medical records about their service to you in an electronic health record (EHR) system.
            Their EHR allows them, for example, to find and transmit medical information with your consent to other healthcare organizations.
            In addition, as a patient you have a legal right to obtain a physical copy of this medical record and/or to access that same information electronically and share it, including forwarding it directly to a third party of your choice.
        </p>
        <p>
            As part of this research program, you are encouraged to share your healthcare information in the EHR system that is used by your healthcare provider.
            If you wish to do so, once you select your participating healthcare provider, you will be directed to their patient portal and be able to review and approve sharing your medical information with this research program via this app.
        </p>
        <p>
            The process at your healthcare provider patient portal will allow you to confirm what you would be sharing and decide to share (or not) your healthcare information.
            When you have finished that process, you will be returned automatically to this research program app.
        </p>
    </div>
</div>
{% endblock %}
