{% extends "base.jinja2" %}

{% block body %}
<h1>We're connected to your medical records from:</h1>
<hr>

<div class="row">
    {% for connection in connections %}
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">{{ connection.practitioner.name }}</div>
            <div class="panel-body">
                <ul>
                    {% for group in connection.resources|groupby('fhir_resource_type') %}
                    <li>
                        {{ group.list | length }}
                        <a data-toggle="modal" data-target="#{{ connection.practitioner.organization_id }}-{{ group.grouper }}">{{ group.grouper }}s</a>
                        <div class="modal fade" tabindex="-1" role="dialog" id="{{ connection.practitioner.organization_id }}-{{ group.grouper }}">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{{ connection.practitioner.name }} - {{ group.grouper }}s</h4>
                                    </div>
                                    <div class="modal-body">
                                        {% for resource in group.list %}
                                        <textarea readonly class="textarea-pre">{{ resource.entry | prettify_json }}</textarea>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
