{% extends "base.jinja2" %}

{% block jumbotron %}
<h1>Found {{ practitioner }}</h1>
{% endblock %}

{% block body %}
<div>
    <a href="{{ authorize_url }}"
        class="btn btn-primary btn-lg"
        >Share my electronic health records &raquo;</a>

    <h2>What does this mean?</h2>
    <p>[consent language here]</p>
</div>
{% endblock %}
